@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

.cuerpo {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: auto;
}

/* CONTENEDOR PRINCIPAL */
.admin-create-user {
  width: 750px;
  max-height: 95vh;
  padding: 3rem 2.5rem;
  background: #1a1a1a; /* fondo oscuro */
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid #4a15ec; /* borde neón */
  transition: all 0.3s ease;
  font-family: 'DM Sans', sans-serif;
  overflow-y: auto;
  margin: auto;
}

.admin-create-user:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 60px rgba(74, 21, 236, 0.3);
}

/* TÍTULO */
.admin-create-user h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: left;
}

/* FORMULARIO DOS COLUMNAS */
.admin-create-user form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  width: 100%;
}

.admin-create-user form div {
  display: flex;
  flex-direction: column;
}

/* LABELS */
.admin-create-user label {
  font-size: 0.95rem;
  font-weight: 500;
  color: #f8f8f8;
  margin-bottom: 0.5rem;
}

/* INPUTS / SELECTS */
.admin-create-user input,
.admin-create-user select {
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  background: #2a2929;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease;
}

.admin-create-user input:focus,
.admin-create-user select:focus {
  outline: none;
  border-color: #4a15ec;
  background: #1f1f1f;
  box-shadow: 0 0 5px #4a15ec;
}

.admin-create-user input::placeholder {
  color: #888;
}

/* CAMPOS QUE OCUPAN DOS COLUMNAS */
.admin-create-user .full-width {
  grid-column: 1 / 3;
}

/* TEXTO PEQUEÑO */
.admin-create-user small {
  font-size: 0.85rem;
  margin-top: 0.3rem;
  color: #b5b5b5;
}

/* BOTÓN */

  


.crear-usuario{
  width: 50%;
  margin-left: 170px;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: #161616;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
}

.volver-btn{
  width: 48%;
  margin-left: 170px;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: #161616;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5rem;

}



.admin-create-user button:hover {
  background: #184bf5;
  transform: scale(1.02);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .admin-create-user {
    width: 100%;
    max-width: 450px;
    padding: 2rem 1.5rem;
  }

  .admin-create-user h1 {
    font-size: 1.6rem;
  }

  .admin-create-user form {
    grid-template-columns: 1fr;
  }
}
