@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

*{
  font-family: 'DM Sans', sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: #f3f4f6;
  color: #111827;
}

input, button {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}
