body {
  font-family: sans-serif;
  margin: 0;
  background: #f3f4f6;
  color: #111827;
}

input, button {
  margin: 4px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}
